{% comment %} <svg
  class="icon icon-cart-empty"
  aria-hidden="true"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 40 40"
  fill="none"
>
  <path d="m15.75 11.8h-3.16l-.77 11.6a5 5 0 0 0 4.99 5.34h7.38a5 5 0 0 0 4.99-5.33l-.78-11.61zm0 1h-2.22l-.71 10.67a4 4 0 0 0 3.99 4.27h7.38a4 4 0 0 0 4-4.27l-.72-10.67h-2.22v.63a4.75 4.75 0 1 1 -9.5 0zm8.5 0h-7.5v.63a3.75 3.75 0 1 0 7.5 0z" fill="currentColor" fill-rule="evenodd"/>
</svg> {% endcomment %}
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Cart</title>
    <defs>
        <linearGradient x1="2.34910586%" y1="-27.7778535%" x2="119.612083%" y2="-1.73741899%" id="linearGradient-1">
            <stop stop-color="#674FFE" offset="0%"></stop>
            <stop stop-color="#B16FFE" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-5" transform="translate(0.000000, 0.000000)" fill-rule="nonzero">
            <circle id="Oval" fill="url(#linearGradient-1)" transform="translate(16.400200, 16.400200) rotate(-89.462800) translate(-16.400200, -16.400200) " cx="16.4002" cy="16.4002" r="15.4002"></circle>
            <path d="M17.4923964,8 C19.271457,8.36061251 20.2721581,9.67175257 20.3104175,11.5336106 C20.3104175,11.6756998 20.3295472,11.817789 20.3400685,11.9657577 C20.4357169,11.9804566 20.4959754,11.9961354 20.5571904,11.9990752 C21.9460055,12.0657101 22.5285044,12.6605247 22.5954583,14.0902358 C22.7274531,16.9427983 22.8479702,19.7953609 22.9933558,22.6469435 C23.0746569,24.241282 22.4127698,24.9811256 20.8460487,24.9811256 C18.3591897,24.9811256 15.8723307,24.9438884 13.3912106,24.9987642 C12.2625592,25.0232624 11.4418957,24.6881279 11,23.5808123 L11,22.1109244 C11.0306075,21.8541839 11.0755623,21.5984234 11.0879965,21.3407031 C11.215209,18.7860378 11.3261611,16.2294127 11.4705902,13.6747474 C11.5222404,12.7379388 12.242473,12.0549309 13.1587849,12.0088744 C13.3271261,12.0000551 13.4964238,12.0088744 13.700155,12.0088744 C13.700155,11.7580135 13.6925031,11.5806471 13.700155,11.4032806 C13.7556311,10.1969925 14.2290908,9.21118767 15.24679,8.58795518 C15.699207,8.31259617 16.2372879,8.04665335 16.7427313,8 C17.2481748,7.95334665 17.4081775,7.98997082 17.4923964,8 Z M13.3806892,13.1142302 C12.81732,13.1142302 12.5648082,13.3748903 12.5370702,13.9481466 L12.4313786,16.19977 L12.4313786,16.19977 L12.3285566,18.4509034 C12.2587332,19.9521489 12.185084,21.4524146 12.120043,22.9526802 C12.094218,23.558274 12.3515122,23.8630308 12.9177509,23.8640107 C15.6437309,23.8711969 18.369711,23.8711969 21.095691,23.8640107 C21.6514084,23.8640107 21.9182675,23.5798324 21.9029637,23.0104958 C21.8847905,22.3088693 21.8398358,21.6082227 21.8073153,20.9065962 C21.7011456,18.6067115 21.5988018,16.3068268 21.4878496,14.0069421 C21.4572421,13.3768501 21.218121,13.11619 20.6499694,13.1142302 C18.226876,13.107044 15.8037826,13.107044 13.3806892,13.1142302 Z M14.4949934,13.8795518 C14.8911821,13.8795518 15.2123565,14.2085974 15.2123565,14.6144958 C15.2123565,15.0203941 14.8911821,15.3494398 14.4949934,15.3494398 C14.0988046,15.3494398 13.7776302,15.0203941 13.7776302,14.6144958 C13.7776302,14.2085974 14.0988046,13.8795518 14.4949934,13.8795518 Z M19.7556566,13.8795518 C20.1518454,13.8795518 20.4730198,14.2085974 20.4730198,14.6144958 C20.4730198,15.0203941 20.1518454,15.3494398 19.7556566,15.3494398 C19.3594679,15.3494398 19.0382935,15.0203941 19.0382935,14.6144958 C19.0382935,14.2085974 19.3594679,13.8795518 19.7556566,13.8795518 Z M15.6858162,9.63843511 C14.9311502,10.217571 14.7073329,11.0240495 14.8546314,11.9794767 L19.2008958,11.9833964 C19.2965442,10.8917596 19.0239462,10.0235458 18.0999824,9.47870728 C17.2735801,8.98874463 16.4404823,9.05929925 15.6858162,9.63843511 Z" id="Combined-Shape" fill="#FFFFFF"></path>
        </g>
    </g>
</svg>
