<div class="wraper">
{% section 'home-banner-sec' %}
{% section 'home-about-sec' %}
{% section 'home-benefits-brain' %}
{% section 'home-levels-complexities' %}
{% section 'home-faq' %}
{% section 'home-testimonial-sec' %}
{% section 'download-app-sec' %}
{% section 'home-signup' %}
</div>